.effectTab-header .caption, .effectTab-header .title {
	font-weight: 700;
	padding-bottom: 20px;
	position: relative;
	display: inline-block;
	color: #555;
	margin: 0 0 20px;
	text-align: center;
	text-transform: uppercase;
    font-family: "Lalezar", cursive;
}

.effectTab-header .title {
	font-size: 36px;
	/* font-family: Oswald, sans-serif */
}

.effectTab-header .caption {
	font-size: 30px;
	/* font-family: 'Open Sans', sans-serif */
}

.effectTab-header .title::after, .effectTab-header .title::before {
	position: absolute;
	background: linear-gradient(to right, #ed6ea0 0, #ec8c69 100%);
	content: "";
}

.effectTab-header .title::before {
	left: 0;
	width: 156%;
	height: 3px;
	margin-left: -28%;
	bottom: -1.5px
}

.effectTab-header .title::after {
	left: 50%;
	width: 25px;
	height: 25px;
	bottom: -26px;
	margin: 0 0 0 -10px;
	-webkit-clip-path: polygon(75% 0, 75% 69%, 41% 93%, 0 68%, 0 0);
	clip-path: polygon(75% 0, 75% 69%, 41% 93%, 0 68%, 0 0)
}

.nav-icon, .navigation {
	float: right
}

.wrapper {
	max-width: 86vw;
	margin: 0 auto;
    padding-bottom: 20px;
	/* position: relative */
}

.tab-container {
	padding: 50px 0
}

.tab .effect {
	position: relative;
	overflow: hidden;
	min-height: calc(86vw / 3);
	max-height: calc(86vw / 3);
	/* max-height: 240px; */
	/* max-width: 350px; */
	background: #3085a3;
	text-align: center;
	cursor: pointer;
    overflow: hidden;
}

.tab{
    padding-bottom: 30px;
}

.tab .effect img {
	position: relative;
	display: block;
    height: 100%;
    width: 100%;
	/* min-height: 100%; */
	opacity: .8;
}

.tab .effect .tab-text {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25rem;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.tab-text h2 {
	color: #fff;
	margin: 0;
	font-size: 1.5rem
}

.tab-text p {
	color: #fff;
	margin: 0;
	font-size: 1rem
}

.hide {
	display: none
}

@media (max-width:575px) {
	.hide-xs {
		display: none
	}
	.effectTab-header .title::before {
		width: 90%;
		left: 5%;
		margin: auto;
	}
	.tab-container {
		padding-top: 25px;
		padding-bottom: 25px
	}
}

@media (min-width:576px) and (max-width:767px) {
	.hide-sm {
		display: none
	}
	.visible-sm {
		display: block
	}
	.tab-container {
		padding-top: 25px;
		padding-bottom: 25px
	}
}

@media (max-width:1000px) {
	.header h1 {
		padding-left: 70px
	}
	.rotate {
		left: 30px
	}
	@media (min-width:768px) and (max-width:991px) {
		.hide-md {
			display: none
		}
		.visible-md {
			display: block
		}
	}
}

.effect.effect-one {
	background: #313131;
	position: relative
}

.effect.effect-one .tab-text {
	padding: 1em
}

.effect.effect-one .tab-text::after,
.effect.effect-one .tab-text::before {
	position: absolute;
	content: '';
	opacity: 0
}

.effect.effect-one .tab-text::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 2px solid rgba(255, 255, 255, .3);
	border-bottom: 2px solid rgba(255, 255, 255, .3);
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0
}

.effect.effect-one .tab-text::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1, 0);
	transform: scale(1, 0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0
}

.effect.effect-one .icons-block {
	z-index: 1000;
	position: absolute;
	bottom: 14px;
	width: 100%;
	left: 0;
	text-align: center
}

.effect.effect-one .icons-block .social-icon-1,
.effect.effect-one .icons-block .social-icon-2,
.effect.effect-one .icons-block .social-icon-3 {
	transition: all .5s ease-in-out;
	opacity: 0
}

.effect.effect-one:hover .social-icon-1 {
	opacity: 1;
	transition-delay: .3s;
	transition-duration: .5s
}

.effect.effect-one:hover .social-icon-2 {
	opacity: 1;
	transition-delay: .4s;
	transition-duration: .5s
}

.effect.effect-one:hover .social-icon-3 {
	opacity: 1;
	transition-delay: .5s;
	transition-duration: .5s
}

.effect.effect-one .icons-block i {
	color: rgba(255, 255, 255, 1);
	padding-left: 10px;
	font-size: 1.3rem
}

/* .effect.effect-one p,
.effect.effect-two h2,
.effect.effect-two p.description {
	font-family: Poppins
} */

.effect-one .pt-1 {
	padding-top: 8% !important
}

.effect-one .pt-2 {
	padding-top: 16%!important
}

.effect-one .pt-3 {
	padding-top: 28%!important
}

.effect.effect-one p {
	padding: .5em 2.7em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	font-size: .92rem;
	line-height: 16px;
	color: rgba(255, 255, 255, .9)
}

/* .effect.effect-one h2, .effect.effect-one img {
	-webkit-transform: translate3d(0, -30px, 0);
	transform: translate3d(0, -30px, 0)
} */

.effect.effect-one h2 {
    padding-top: 37%;
    padding-bottom: 10px;
	-webkit-transition: -webkit-transform .35s;
	transition: transform .35s;
	font-weight: 600;
	font-size: 1.7rem;
    font-family: 'Comfortaa', cursive;
	-webkit-transform: translate3d(0, -500px, 0);
	transform: translate3d(0, -500px, 0)
}

.effect.effect-one .tab-text::after, .effect.effect-one .tab-text::before, .effect.effect-one img, .effect.effect-one p {
	-webkit-transition: opacity .35s, -webkit-transform .35s;
	transition: opacity .35s, transform .35s
}

.effect.effect-one:hover img {
	opacity: .4;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0) scale(1.5, 1.5) rotate(-2deg);
    filter: blur(1px);
}

.effect.effect-one:hover .tab-text::after, .effect.effect-one:hover .tab-text::before {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1)
}

.effect.effect-one:hover h2, .effect.effect-one:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}

.effect.effect-one:hover .tab-text::after,
.effect.effect-one:hover h2,
.effect.effect-one:hover img,
.effect.effect-one:hover p {
	-webkit-transition-delay: .15s;
	transition-delay: .15s
}

@media (max-width:575px) {
	.effect.effect-two p.description {
		bottom: 5.8em
	}
}

@media (min-width:576px) and (max-width:767px) {
	.tab .effect .tab-text h2 {
		font-size: 1.3rem!important;
		/* font-family: Oswald */
	}
	.effect.effect-two p.description {
		bottom: 5.8em
	}
}

@media (min-width:768px) and (max-width:991px) {
	.effect h2 {
		font-size: 1.3rem!important
	}
}

/* Modal Style */
/* The Modal (background) */
.previewModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
  
  /* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
}
/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from { -webkit-transform: scale(0); }
    to { -webkit-transform: scale(1); }
}
  
@keyframes zoom {
    from { transform: scale(0); }
    to { transform: scale(1); }
}
  
/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

/* Image Zoom */
.image-zoom-available {
    cursor: zoom-in;
}

.image-zoom-available.is-active {
    cursor: none;
}